@font-face {
  font-family: "KonTikiJF Aloha";
  font-style: normal;
  font-weight: normal;
  src: url("/font/Kon-Tiki-Aloha-JF-Regular.eot?") format("eot"), url("/font/Kon-Tiki-Aloha-JF-Regular.woff2") format("woff2"), url("/font/Kon-Tiki-Aloha-JF-Regular.woff") format("woff"), url("/font/Kon-Tiki-Aloha-JF-Regular.ttf") format("truetype"), url("/font/Kon-Tiki-Aloha-JF-Regular.svg#KonTikiJF_Aloha") format("svg");
}
@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: normal;
  src: url("/font/sofiapro-light.eot?") format("eot"), url("/font/sofiapro-light.woff2") format("woff2"), url("/font/sofiapro-light.woff") format("woff"), url("/font/sofiapro-light.ttf") format("truetype"), url("/font/sofiapro-light.svg#Sofia_Pro") format("svg");
}
* {
  margin: 0;
  padding: 0;
}

body {
  font: normal normal normal 20px KonTikiJF Aloha;
  position: relative;
}

.image-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.join {
  position: relative;
  min-height: 600px;
}
.join .center-white {
  text-align: center;
  font: normal normal normal 50px/59px KonTikiJF Aloha, Sofia Pro, sans-serif;
  letter-spacing: 0;
  color: #FFFFFF;
  padding: 1em 10%;
}
.join .center-white::after {
  display: block;
  font: normal normal bold 26px/40px sans-serif;
  letter-spacing: 0;
  text-align: right;
  content: "- Bloom in green";
}
.join .image-background {
  filter: brightness(50%);
}
.join .join-form {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 20%;
}
.join .join-form form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.join .join-form #joinUsButton, .join .join-form #joinUsInput {
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 0.5rem;
  width: min(40vw, 450px);
  font: normal normal normal 20px Sofia Pro;
  letter-spacing: 0;
}
.join .join-form #joinUsButton {
  border-radius: 0 10px 10px 0;
  background: #1D4638;
  width: auto;
  padding: 0.5rem 1rem;
  color: #FFFFFF;
  cursor: pointer;
}

.footer {
  width: calc(100% - 8rem);
  background-color: black;
  color: white;
  text-align: center;
  font: normal normal normal 26px/40px Sofia Pro;
  padding: 6rem 4rem 2rem 4rem;
}
.footer .footer-top {
  display: flex;
  justify-content: space-between;
}
.footer .footer-top .logo img {
  width: 7rem;
}
.footer .footer-top p {
  opacity: 0.5;
  font-size: 1rem;
  max-width: 290px;
  line-height: 1.5rem;
  margin-top: 1rem;
}
.footer .footer-top .contact {
  font: normal normal normal 42px/40px Sofia Pro;
  font-size: 20px;
  color: aliceblue;
  text-align: right;
}
.footer .footer-top .contact .contact-head {
  font: normal normal normal 42px/40px KonTikiJF Aloha, Sofia Pro, sans-serif;
  letter-spacing: 0;
  color: #FFFFFF;
}
.footer .footer-top .contact .social-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.footer .footer-top .contact .social-container a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer hr {
  opacity: 0.4;
}
.footer .logo {
  text-align: left;
}
.footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.footer .footer-bottom .address {
  font: normal normal normal 26px/40px Sofia Pro;
  font-size: 1rem;
  opacity: 0.5;
  max-width: 330px;
  text-align: left;
  line-height: 1.5rem;
}
.footer .footer-bottom .address .copy-right {
  opacity: 0.7;
  margin-top: 1rem;
}

/*# sourceMappingURL=index.css.map */
