@import "../../utils/menu";

.hero {
  padding: 1em 0;
  position: relative;

  button {
    font: normal normal normal 30px/36px KonTikiJF Aloha;
    text-transform: capitalize;
    background-color: #3CB189;
    border-radius: 29px;
    border: none;
    color: #FFFFFF;
    padding: 0.4rem 1.3rem;

    transition: all 500ms ease;

    &:hover {
      background-color: #FFFFFF;
      color: #3CB189;
      box-shadow: #3CB189 7px 6px 13px 0;
    }
  }

  .nav-menu {
    display: flex;
    justify-content: space-around;

    a {
      text-decoration: none;
      color: #FFFFFF;
      font: normal normal normal 35px/116px KonTikiJF Aloha;
      text-transform: capitalize;

      transition: all ease 500ms;

      &:hover {
        text-decoration: underline;
        line-height: 110px;
      }

      &:has(img):hover, &:has(button):hover{
        line-height: 116px;
      }
    }

    img {
      width: 11rem;
    }
  }

  .video-row {
    display: flex;
    justify-content: end;
    margin: 5em 5em 3em 10em;

    button {
      border-radius: 50%;
      width: 114px;
      height: 114px;
      background-color: #2C5C4C;
      border: 8px solid #BCCD81;
      color: #FFFFFF;
      font: normal normal normal 30px/31px KonTikiJF Aloha;
      cursor: pointer;

      transition: all 0.5s ease;

      &:hover {
        transform: translateY(-10px) scale(1.1);
        border-width: 5px;
      }

      &:focus {
        transform: scale(0.001);
      }
    }
  }

  .content-row {
    margin-left: 5em;
    margin-top: 1rem;
    margin-bottom: 5em;

    h1 {
      color: #FFFFFF;
      font: normal normal normal 70px/93px KonTikiJF Aloha;
    }

    p {
      color: #FFFFFF;

    }
  }

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  .scale-down {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.001);
    transition: all ease 500ms;
  }
}

@media screen and (max-width: 415px) {
  .hero {
    min-height: 100vh;

    .nav-menu {
      .logo-link {
        display: contents;

        img {
          width: 80%;
          margin-top: 30%;
        }
      }
    }

    .video-row {
      button {
        width: 5rem;
        height: 5rem;
        padding: 1em;
        font: normal normal normal 16px/20px KonTikiJF Aloha;
        border-width: 6px;
      }
    }

    .content-row {
      margin: unset;

      h1 {
        font: normal normal normal 35px/40px KonTikiJF Aloha;
        text-align: center;
      }

      p {
        text-align: center;
        font-size: 14px;
      }
    }
  }
}
