@import "../../utils/menu";

.hero {
  background: url("https://rohittp.imgix.net/index/hero/hero.JPG") no-repeat;
  padding: 1em 0;
  position: relative;
  background-size: cover;

  .hidden {
    bottom: -100px !important;
  }

  .banner{
    transition: all ease 1s;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0.5rem;
    background: #eaea60;
    display: flex;
    z-index: 4;
    justify-content: start;

    h3{
      font-family: Sofia Pro, serif;
      font-weight: bold;
    }

    button{
      background: transparent;
      padding-top: 0;
      padding-bottom: 0;
      color: #232323;

      &:hover {
        background-color: transparent;
        color: #232323;
        box-shadow: unset;
        scale: 1.1;
      }
    }
  }

  .image-background{
    z-index: -5;
  }

  button {
    font: normal normal normal 30px/36px KonTikiJF Aloha;
    text-transform: capitalize;
    background-color: #3CB189;
    border-radius: 29px;
    border: none;
    color: #FFFFFF;
    padding: 0.4rem 1.3rem;

    transition: all 500ms ease;

    &:hover {
      background-color: #FFFFFF;
      color: #3CB189;
      box-shadow: #3CB189 7px 6px 13px 0;
    }
  }

  .nav-menu {
    display: flex;
    justify-content: space-around;

    a {
      text-decoration: none;
      color: #FFFFFF;
      font: normal normal normal 35px/116px KonTikiJF Aloha;
      text-transform: capitalize;

      transition: all ease 500ms;

      &:hover {
        text-decoration: underline;
        line-height: 110px;
      }

      &:has(img):hover, &:has(button):hover{
        line-height: 116px;
      }
    }

    img {
      width: 8rem;
    }
  }

  .video-row {
    display: flex;
    justify-content: end;
   margin-right: 5em;

    button {
      border-radius: 50%;
      width: 155px;
      height: 155px;
      background-color: #2C5C4C;
      border: 8px solid #BCCD81;
      color: #FFFFFF;
      font: normal normal normal 30px/31px KonTikiJF Aloha;
      cursor: pointer;

      transition: all 0.5s ease;

      &:hover {
        transform: translateY(-10px) scale(1.1);
        border-width: 5px;
      }

      &:focus {
        transform: scale(0.001);
      }
    }
  }

  .content-row {
    margin-left: 5em;
    margin-top: 1rem;
    margin-bottom: 5em;
    flex-direction: column;

    h1 {
      color: #FFFFFF;
      font: normal normal normal 70px/93px KonTikiJF Aloha;
    }

    p {
      color: #FFFFFF;
      font-size: 1.5rem;
    }

    h2{
        color: #FFFFFF;
        font: normal normal normal 45px/55px KonTikiJF Aloha;
        margin-top: 0.5rem;
    }
    .social-icons{
      margin-top: 0.5rem;
     a{
         margin-right: 1rem;
       color: transparent;
     }
    }

    img {
      width: 5em;
      filter: invert(1);
    }
  }

  .margin-zero{
    margin: -1.5em 1em 5em -1em
  }

  .text_075{
    font-size: 0.75rem !important;
  }

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }

  .scale-down {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.001);
    transition: all ease 500ms;
  }

  .book-button{
    text-align: center;
    margin-top: 2em;

    a{
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}

.lineup {
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    text-align: center;
    color: #1D4638;
    margin: 1em 0 1.5em;
    font: normal normal normal 42px/40px Sofia Pro;
  }

  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;

    p {
      font: normal normal normal 25px/59px Sofia Pro;
      opacity: 0.8;
      color: #1D4638;
      margin: 0 1rem;
      width: 95%;
    }

    .row {
      max-width: 100%;
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
      margin: 0.20rem 0;
      padding-bottom: 0.5rem;
      -ms-overflow-style: -ms-autohiding-scrollbar;

      &::-webkit-scrollbar {
        height: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
        background: #3CB189;
        border-radius: 0.5rem;
      }

      &:hover {
        padding-bottom: 0;
        overflow-x: scroll;
      }

      .card-image {
        scroll-snap-align: center;
        margin-right: 2em;
        border-radius: 0.4em;
        position: relative;

        img {
          border-radius: 0.4em;
          width: 250px;
          aspect-ratio: 1;
        }

        p {
          position: absolute;
          bottom: 0;
          padding-bottom: 1.7rem;
          left: 20px;
          max-width: calc(250px - (20px * 2));

          font-size: 1rem;
          color: #FFFFFF;
          font-weight: bold;
          line-height: 1.5rem;
        }
      }
    }
  }
}



      @media screen and (max-width: 415px) {
  .lineup {
    .column {
      .row {
        .card-image {
          padding: 0;
          margin: 0;

          img {
            width: 100vw;
          }

          p {
            max-width: calc(100vw - (20px * 2));
          }
        }
      }
    }
  }

  .hero {
    background: url("../img/hero.JPG") no-repeat;
    min-height: 100vh;
    background-size: cover;

    .banner{
      font-size: 1rem;
    }

    .nav-menu {
      .logo-link {
        display: contents;

        img {
          width: 71%;
          margin-top: 36%;
          margin-bottom: 0.5em;
        }
      }
    }

    .video-row {
      justify-content: center;
      margin: 1rem 0 0 0;

      button {
        width: 7rem;
        height: 7rem;
        padding: 1em;
        font: normal normal normal 16px/20px KonTikiJF Aloha;
        border-width: 6px;
      }
    }

    .content-row {
      margin: unset;

      img {
        width: 50%;
      }

      h1 {
        font: normal normal normal 35px/40px KonTikiJF Aloha;
        text-align: center;
      }

      p {
        text-align: center;
        font-size: 20px;
        margin-top: 1em;
      }
      .social-icons{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
