.join {

  position: relative;
  height: unset;
  min-height: 600px;
  display: flex;
  flex-direction: column;


  .center-white {
    text-align: center;
    font: normal normal normal 40px/50px KonTikiJF Aloha, Sofia Pro, sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
    padding: 1em 10%;
    margin-top: 2rem;

  }
  .button-div{
    width: 207px;
    margin: 0 auto;
  }


  .image-background {
    filter: brightness(50%);
  }

  .join-form {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    margin-bottom: 5rem;

    form {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .join-submit, #joinUsInput {
      border: none;
      border-radius: 10px 0 0 10px;
      padding: 0.5rem;
      width: min(40vw, 450px);
      font: normal normal normal 20px Sofia Pro;
      letter-spacing: 0;
    }

    .join-submit {
      border-radius: 0 10px 10px 0;
      background: #1D4638;
      width: auto;
      padding: 0.5rem 1rem;
      color: #FFFFFF;
      cursor: pointer;
    }
  }

  .join-socials {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2vh;

    img:hover {
      cursor: pointer;
      transform: scale(1.05);
      transition: all 0.05s ease-in-out;
    }
  }
}

@media screen and (max-width: 415px) {
  .join {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .center-white {
      font: normal normal normal 22px/29px KonTikiJF Aloha, Sofia Pro, sans-serif;
      padding: 0.8em;

      &::after {
        font-size: 18px;
      }
    }

    .join-form {
      margin: 1rem auto 3rem;

      .join-submit, #joinUsInput {
        border-radius: 0;
        font: normal normal normal 10px Sofia Pro;
      }

      #joinUsInput {
        width: 50vw;
      }
    }

    .join-socials {
      display: flex;
      justify-content: center;
      gap: 1rem;

      img {
        width: 60px;
      }
    }
  }
}
