.join {

  position: relative;
  height: unset;
  min-height: 600px;

  .center-white {
    text-align: center;
    font: normal normal normal 50px/59px KonTikiJF Aloha, Sofia Pro, sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
    padding: 1em 10%;

    &::after {
      display: block;
      font: normal normal bold 26px/40px sans-serif;
      letter-spacing: 0;
      text-align: right;

      content: "- join our community";
    }
  }

  .image-background {
    filter: brightness(50%);
  }

  .join-socials {
    display: flex;
    justify-content: center;
    gap: 3rem;

    img:hover {
      cursor: pointer;
      transform: scale(1.05);
      transition: all 0.05s ease-in-out;
    }
  }
}

@media screen and (max-width: 415px) {
  .join {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .center-white {
      font: normal normal normal 22px/29px KonTikiJF Aloha, Sofia Pro, sans-serif;
      padding: 0.8em;

      &::after {
        font-size: 18px;
      }
    }

    .join-socials {
      display: flex;
      justify-content: center;
      gap: 1rem;

      img {
        width: 60px;
      }
    }
  }
}
