@import "../../utils/circle";

.vision {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .vision-left {
    max-width: 50%;

    h2 {
      font: normal normal normal 55px/110px KonTikiJF Aloha;
      color: #1D4638;
    }

    p {
      font: normal normal normal 20px/29px Sofia Pro;
      color: #648673;
      padding-bottom: 2rem;
      font-weight: bold;
    }
  }

  .image-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }

  .image-top {
    position: absolute;
    top: 0;
    right: 5%;
    width: max(7%, 40px);
    z-index: -1;
  }

  .circle-container {
    @include on-circle(7, 30vw, 4em);

    border: solid gold 0.5px;
    justify-content: center;
    display: flex;

    &:not(:focus-within) {
      img:nth-child(1) {
        box-shadow: 0 0 10px 7px #e1b03c;
      }

      .circle-center:nth-child(2) {
        display: initial;
      }
    }

    .circle-center {
      align-self: center;
      text-align: center;
      display: none;

      h6 {
        font-size: 1.25em;
        font-weight: 100;
      }

      p {
        font-family: sans-serif;
        font-size: 0.75em;
        text-align: justify-all;
        max-width: 20vw;
      }
    }


    img {
      object-fit: scale-down;
      border-radius: 50%;
      border: solid gold 2px;
      transition: all 500ms;

      &:focus {
        box-shadow: 0 0 10px 7px #e1b03c;
      }

      &:focus + .circle-center {
        display: initial;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .vision {
    flex-direction: column;

    .vision-left {
      max-width: 90%;

      h2{
        text-align: center;
        line-height: unset;
        margin: 4rem 0 1rem 0;
      }

      p {
        font: normal normal normal 14px/18px Sofia Pro;
      }
    }

    .circle-container {
      @include on-circle(7, 70vw, 2.5em);

      margin: 2rem 0 3rem 0;

      .circle-center{
        p {
          max-width: 48vw;
        }
      }
    }

    .button-primary {
      margin: 2rem 0 7rem 0;
    }

    .image-bottom {
      z-index: 3;
    }
  }
}
