<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="title" content="About Bloom in Green Transformational festival, Near Bangalore">
    <meta name="description" content="Bloom in green is India’s first outdoor transformation festival happening in Krishnagiri, near Bangalore.
    The festival is designed on the pillars of music, art, community, sustainability, movement, well-being and technology.">
    <meta name="keywords" content="transformational festival, music festival India, events in Bangalore, music concerts in Bangalore">

    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="60 days">
    <meta name="author" content="Rohit T P & Varsha Shaheen">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bloomingreenfestival.com/">
    <meta property="og:title" content="Bloom in Green Transformational Festival, Near Bangalore">
    <meta property="og:description" content="Bloom in green is India’s first outdoor transformation festival happening in Krishnagiri, near Bangalore. It’s a three-day camping festival with a mix of art, music, community and culture.">
    <meta property="og:image"
          content="https://rohittp.imgix.net/index/hero-background.webp">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://bloomingreenfestival.com/">
    <meta property="twitter:title" content="Bloom in Green Transformational Festival, Near Bangalore">
    <meta property="twitter:description" content="Bloom in green is India’s first outdoor transformation festival happening in Krishnagiri, near Bangalore. It’s a three-day camping festival with a mix of art, music, community and culture.">
    <meta property="twitter:image"
          content="https://rohittp.imgix.net/index/hero-background.webp">

    <link rel="preload" href="/font/Kon-Tiki-Aloha-JF-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/font/sofiapro-light.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="/css/head-foot.css">
    <link rel="stylesheet" href="/css/about.css">

    <title>Bloom In Green</title>

    <!-- Hotjar Tracking Code for https://bloomingreenfestival.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3666496,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B46R7EZZ3T"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-B46R7EZZ3T');
    </script>

</head>
<body>

<section class="header-lg hidden_sm clip-x sticky">
    <nav class="title-bar">
        <a href="/about">About Us</a>
        <a href="/festival">Festival 2023</a>
        <a href="/" class="logo-link">
            <img loading="lazy" src="https://rohittp.imgix.net/index/logo-mobile.webp" srcset="https://rohittp.imgix.net/index/logo-mobile.webp?w=1440&fit=max 1440w, https://rohittp.imgix.net/index/logo-mobile.webp?w=1024&fit=max 1024w, https://rohittp.imgix.net/index/logo-mobile.webp?w=768&fit=max 768w, https://rohittp.imgix.net/index/logo-mobile.webp?w=410&fit=max 410w, https://rohittp.imgix.net/index/logo-mobile.webp?w=375&fit=max 375w, https://rohittp.imgix.net/index/logo-mobile.webp?w=390&fit=max 390w, https://rohittp.imgix.net/index/logo-mobile.webp , https://rohittp.imgix.net/index/logo-mobile.webp?w=161&fit=max 161w" alt="logo" width="161">
        </a>
        <a href="/gallery">Gallery</a>
        <a href="https://bloomingreen23.mojo.page/bloomingreenphaseone23">
            <button>
                Book Your Tickets
            </button>
        </a>
    </nav>
</section>

<section class="header hidden_lg clip-x">
    <div class="title-bar center-flex">
        <a href="/">
            <img loading="lazy" src="https://rohittp.imgix.net/index/logo-mobile.webp" srcset="https://rohittp.imgix.net/index/logo-mobile.webp?w=1440&fit=max 1440w, https://rohittp.imgix.net/index/logo-mobile.webp?w=1024&fit=max 1024w, https://rohittp.imgix.net/index/logo-mobile.webp?w=768&fit=max 768w, https://rohittp.imgix.net/index/logo-mobile.webp?w=410&fit=max 410w, https://rohittp.imgix.net/index/logo-mobile.webp?w=375&fit=max 375w, https://rohittp.imgix.net/index/logo-mobile.webp?w=390&fit=max 390w, https://rohittp.imgix.net/index/logo-mobile.webp , https://rohittp.imgix.net/index/logo-mobile.webp?w=161&fit=max 161w" alt="logo" width="161">
        </a>
    </div>
    <nav class="ham-nav">
        <div id="menuToggle">
            <label for="fake" hidden>Placeholder</label>
            <input type="checkbox" id="fake"/>

            <span></span>
            <span></span>
            <span></span>

            <ul id="menu" onclick="document.getElementById('fake').checked=false;">
                <a href="/about">
                    <li>About Us</li>
                </a>
                <a href="/festival">
                    <li>Festival 2023</li>
                </a>
                <a href="/gallery">
                    <li>Gallery</li>
                </a>
                <a href="https://bloomingreen23.mojo.page/bloomingreenphaseone23">
                    <li>
                        <button class="button-primary">
                            Book Your Tickets
                        </button>
                    </li>
                </a>
            </ul>
        </div>
    </nav>
</section>

<section class="about">
    <img loading="lazy" src="https://rohittp.imgix.net/about/white-background.webp" srcset="https://rohittp.imgix.net/about/white-background.webp?w=1440&fit=max 1440w, https://rohittp.imgix.net/about/white-background.webp?w=1024&fit=max 1024w, https://rohittp.imgix.net/about/white-background.webp?w=768&fit=max 768w, https://rohittp.imgix.net/about/white-background.webp?w=410&fit=max 410w, https://rohittp.imgix.net/about/white-background.webp?w=375&fit=max 375w, https://rohittp.imgix.net/about/white-background.webp?w=390&fit=max 390w, https://rohittp.imgix.net/about/white-background.webp?w=230&fit=max 230w" alt="background" class="image-background">
    <img loading="lazy" src="https://rohittp.imgix.net/about/top-left.webp" srcset="https://rohittp.imgix.net/about/top-left.webp?w=1440&fit=max 1440w, https://rohittp.imgix.net/about/top-left.webp?w=1024&fit=max 1024w, https://rohittp.imgix.net/about/top-left.webp?w=768&fit=max 768w, https://rohittp.imgix.net/about/top-left.webp?w=410&fit=max 410w, https://rohittp.imgix.net/about/top-left.webp?w=375&fit=max 375w, https://rohittp.imgix.net/about/top-left.webp?w=390&fit=max 390w, https://rohittp.imgix.net/about/top-left.webp , https://rohittp.imgix.net/about/top-left.webp?w=186&fit=max 186w" alt="grass" class="grass-top" width="186">
    <img loading="lazy" src="https://rohittp.imgix.net/about/top-right.webp" srcset="https://rohittp.imgix.net/about/top-right.webp?w=1440&fit=max 1440w, https://rohittp.imgix.net/about/top-right.webp?w=1024&fit=max 1024w, https://rohittp.imgix.net/about/top-right.webp?w=768&fit=max 768w, https://rohittp.imgix.net/about/top-right.webp?w=410&fit=max 410w, https://rohittp.imgix.net/about/top-right.webp?w=375&fit=max 375w, https://rohittp.imgix.net/about/top-right.webp?w=390&fit=max 390w, https://rohittp.imgix.net/about/top-right.webp , https://rohittp.imgix.net/about/top-right.webp?w=190&fit=max 190w" alt="grass" class="grass-top" width="190">
    <img loading="lazy" src="https://rohittp.imgix.net/about/bottom.webp" srcset="https://rohittp.imgix.net/about/bottom.webp?w=1440&fit=max 1440w, https://rohittp.imgix.net/about/bottom.webp?w=1024&fit=max 1024w, https://rohittp.imgix.net/about/bottom.webp?w=768&fit=max 768w, https://rohittp.imgix.net/about/bottom.webp?w=410&fit=max 410w, https://rohittp.imgix.net/about/bottom.webp?w=375&fit=max 375w, https://rohittp.imgix.net/about/bottom.webp?w=390&fit=max 390w, https://rohittp.imgix.net/about/bottom.webp?w=230&fit=max 230w" alt="grass" class="grass-bottom hidden_lg">
    <h3>More than a festival</h3>
    <p class="paragraph">
        Welcome to a new paradigm where we converge in the most belonging way to create, express, connect & bloom. This
        is a space where you gather to make meaningful connections, do your first of something, co-create, prioritise
        health & passion, and celebrate life and our respect for nature. The space is facilitated by allowing the right
        elements to come together and create magic. Artists who were keen to share their knowledge, musicians who spread
        happiness, disruptive concepts and participants who wanted to get involved.<br><br>
        Gatherings are the best conductor for a social impact. We, humans, are evolutionarily meant to live in groups
        and communities. Natural Selection rewarded our ancestors for collaborations and forming connections. Creating a
        collaborative platform for people is a mandate for our well-being as well as the world’s! Transformational
        festivals are a cultural global phenomenon that has been catering to this need for communal celebrations among
        young adults for some time now. They are a content-rich reality that features high-density quality interactions.
        The effect of such gatherings is transformed humans who lead creative and conscious lives.<br><br>
        Our pillars represent our 7 verticals through which one can drive the transformative experience on which Bloom
        In Green Festival is founded. We believe art, music and movement hold space in all humans, community-driven,
        sustainable and well-being-focused societies are essential and technology is an ally for humanity.<br><br>
        Bloom In Green festival is purely community-driven and one of the movers in this genre of festivals.And since
        its inception, it has seen the right people joining it understanding its significance. Having reached its 3rd
        edition, we have nothing but an ever-growing and thriving community to put forward to.<br><br>
        Come as you are for one of its kind transformative experiences.
    </p>
</section>

<section class="join">
    <img loading="lazy" src="https://rohittp.imgix.net/index/join/join.webp" srcset="https://rohittp.imgix.net/index/join/join.webp?w=1440&fit=max 1440w, https://rohittp.imgix.net/index/join/join.webp?w=1024&fit=max 1024w, https://rohittp.imgix.net/index/join/join.webp?w=768&fit=max 768w, https://rohittp.imgix.net/index/join/join.webp?w=410&fit=max 410w, https://rohittp.imgix.net/index/join/join.webp?w=375&fit=max 375w, https://rohittp.imgix.net/index/join/join.webp?w=390&fit=max 390w, https://rohittp.imgix.net/index/join/join.webp?w=230&fit=max 230w" alt="group photo" class="image-background">
    <h3 class="center-white">
        To stay updated with the festival and join us along to transform
    </h3>
    <div class="join-form">
        <form>
            <label for="joinUsInput" hidden></label>
            <input id="joinUsInput" type="email" placeholder="Enter your email address" required>
            <input type="submit" id="joinUsButton" value="Join Our Community">
        </form>
    </div>
</section>

<section class="footer">
    <div class="footer-top">
        <div class="logo">
            <img loading="lazy" src="https://rohittp.imgix.net/index/logo.webp" srcset="https://rohittp.imgix.net/index/logo.webp?w=1440&fit=max 1440w, https://rohittp.imgix.net/index/logo.webp?w=1024&fit=max 1024w, https://rohittp.imgix.net/index/logo.webp?w=768&fit=max 768w, https://rohittp.imgix.net/index/logo.webp?w=410&fit=max 410w, https://rohittp.imgix.net/index/logo.webp?w=375&fit=max 375w, https://rohittp.imgix.net/index/logo.webp?w=390&fit=max 390w, https://rohittp.imgix.net/index/logo.webp?w=230&fit=max 230w" alt="logo">
            <p class="hidden_sm">For artist enquiry please connect with us</p>
        </div>
        <div class="contact">
            <h2 class="contact-head">
                CONTACT US
            </h2>
            <p class="">office@bloomingreenfestival.com<br>Ph No: +916362848379</p>
            <p>
                33 Muneswara Temple Street Amruthahalli
                <wbr>
                Bengaluru - 560092
            </p>
            <div class="social-container">
                <a href="https://twitter.com/bloomingreen3?s=21&t=bVeiilH9TxtKfCQ-CqEDHg">Twitter</a> |
                <a href="https://www.instagram.com/bloomingreenfestival/">Instagram</a> |
                <a href="https://www.youtube.com/channel/UCgVbU_BOSgyNfOkFyguKbCg">YouTube</a>
            </div>
        </div>
    </div>

    <hr class="hidden_sm">
    <div class="footer-bottom">
        <div class="address">
            <p class="hidden_sm">33 Muneswara Temple Street Amruthahalli
                <wbr>
                Bengaluru - 560092
            </p>
            <p class="hidden_lg">
                For artist enquiry please connect with us
                <wbr>
                Karloom Entertainments
            </p>
            <p class="copy-right">Copyright © 2021</p>
        </div>
    </div>
</section>

<script>(function (w, d) {
    w.CollectId = "6511b054b8a0d51225e573ba";
    var h = d.head || d.getElementsByTagName("head")[0];
    var s = d.createElement("script");
    s.setAttribute("type", "text/javascript");
    s.async = true;
    s.setAttribute("src", "https://collectcdn.com/launcher.js");
    h.appendChild(s);
})(window, document);</script>

</body>
</html>
