<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

    <section class="hero">
    </section>

    <section class="vision">
    </section>

    <section class="festival">
    </section>

    <section class="newsroom">
    </section>

    <section class="community">
    </section>

    <section class="gallery">
    </section>

    <section class="footer">
    </section>

</body>
</html>
