<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<section class="hero">
    <img src="/img/join.webp" alt="group photo" class="image-background">
    <nav class="nav-menu">
        <a href="#">About Us</a>
        <a href="#">Festival 2022</a>
        <img  src="/img/logo.webp" alt="logo">
        <a href="#">Gallery</a>
        <a href="#">
            <button>
                Book Your Tickets
            </button>
        </a>
    </nav>

    <div class="video-row">
        <a href="#">
            <button>
                Play <wbr>  Video
            </button>
        </a>
    </div>

    <div class="content-row">
        <h1>Bloom In Green 2022</h1>
        <h2>Wednesday 14 - Monday 19 July | Goa</h2>
    </div>
</section>

<section class="vision">
    <img src="/img/paper-crumble.webp" alt="background" class="image-background">

</section>

<section class="festival">
</section>

<section class="newsroom">
</section>

<section class="community">
</section>

<section class="gallery">
</section>

<section class="join">
    <img src="/img/join.webp" alt="group photo" class="image-background">
    <h6 class="center-white">
        To join our community, stay updated about courses, to connect with artists.
    </h6>
    <div class="join-form">
        <form>
            <label for="joinUsInput" hidden></label>
            <input id="joinUsInput" type="email" placeholder="Enter your email address" required>
            <input type="submit" id="joinUsButton" value="Join Our Community">
        </form>
    </div>
</section>

<section class="footer">
    <div class="footer-top">
        <div class="logo">
            <img src="/img/logo.webp" alt="logo">
            <p>For artist enquiry please connect with us</p>
        </div>
        <div class="contact">
            <h6 class="contact-head">
                CONTACT US
            </h6>
            <p>
                Akshya Nagar 1st Block 1st Cross
                <wbr>
                Rammurthy nagar, Bangalore-560016
            </p>
            <div class="social-container">
                <a href="https://facebook.com">Facebook</a> |
                <a href="https://instagram.com">Instagram</a> |
                <a href="https://twitter.com">Twitter</a>
            </div>
        </div>
    </div>

    <hr>
    <div class="footer-bottom">
        <div class="address">
            <p>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar <wbr> Bangalore-560016</p>
            <p class="copy-right">Copyright © 2021</p>
        </div>
    </div>
</section>

</body>
</html>
