.event {


  .event-card {
    position: relative;
    box-shadow: 8px 8px 15px #02191124;
    width: fit-content;
    margin: 0 2rem;

    .event-image {
      width: min(30vw, 325px);
      object-fit: fill;
      border-radius: 15px 15px 0 0;
    }

    &:hover {
      .hover-panel {
        opacity: 1;
      }
    }

    .hover-panel {
      background: url("/img/hover-pane.png") no-repeat top;
      background-clip: border-box;
      position: absolute;
      display: flex;
      justify-content: end;
      flex-direction: column;
      bottom: 0;
      left: 0;
      right: 0;
      height: 60%;
      opacity: 0;
      transition: opacity 500ms;


      h4 {
        font: normal normal normal 21px/21px KonTikiJF Aloha;
        color: #BCCD81;
        z-index: 2;
        padding: 1rem;
      }

      p {
        color: #BCCD81;
        font: normal normal 300 14px/17px Sofia Pro;
        padding: 1rem;
      }

    }
  }

  .events-arrow {
    display: none;
  }
}
