.festival {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: initial;
  background: #FAFFE9;

  .top-image {
    object-fit: fill;
    position: absolute;
    top: -23px;
    left: -30px;
    width: 104vw;
    z-index: 2;
  }

  .center-image {
    width: 50%;
    padding: calc(100vw * 0.22930255895 - 6em) 0 2em 0;
    z-index: 2;
  }

  h2 {
    font: normal normal normal 55px/110px KonTikiJF Aloha;
    letter-spacing: 0;
    color: #1D4638;
    z-index: 2;
  }

  p {
    max-width: 60%;
    text-align: center;
    font: normal normal normal 27px/30px Sofia Pro;
    letter-spacing: 0;
    color: #648673;
    padding-bottom: 1em;
    z-index: 2;
  }

  .background-green {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
  }

}
