@import "index/sections/join";
@import "utils/responsive";


.image-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about {
  overflow-x: hidden;
  text-align: center;

  .grass-top {
    position: absolute;
    top: 0;
    left: 0;
  }

  .grass-top:nth-child(3){
    left: unset;
    right: 0;
  }

  h3{
    font: normal bolder normal 25px/26px Sofia Pro;
    padding: 2em;
    color: #1d4638;
  }

  .paragraph {
    font: normal normal normal 20px/24px Sofia Pro;
    color: #648673;
    max-width: 68%;
    margin: auto;
    padding-bottom: 5em;
    text-align: justify;
  }
}

@supports(overflow-x: clip){
  section{
    overflow-x: clip;
  }
}

@media screen and (max-width: 415px) {
  .about {

    .grass-top{
      width: 80px;
    }

    .grass-bottom {
      object-fit: fill;
      position: absolute;
      left: -12px;
      width: 105%;
      bottom: -16px;
      z-index: -1;
    }

    h3 {
      font: normal bolder normal 12px/10px Sofia Pro;
      padding-top: 4em;
    }

    .paragraph {
      font: normal normal normal 6px/10px Sofia Pro;
      padding-top: 3em;
      font-weight: bold;
      padding-bottom: 15em;
      opacity: 0.7;
    }
  }
}
