@import "index/sections/hero";
@import "utils/responsive";

.image-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  height: 100vh;

  .content-row {
    margin: 30vh 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    img {
      filter: invert(2%) sepia(7%) saturate(2759%) hue-rotate(321deg) brightness(103%) contrast(89%);
      max-width: 485px;
    }
  }
}

.history {
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 2em;

    h4 {
      font: normal normal normal 22px/40px KonTikiJF Aloha;
    }

    .scroll-grid {
      width: 100%;
      overflow: hidden;
      padding-bottom: 0.5rem;
      -ms-overflow-style: -ms-autohiding-scrollbar;

      &::-webkit-scrollbar {
        height: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
        background: #3CB189;
        border-radius: 0.5rem;
      }

      &:hover {
        width: 100%;
        padding-bottom: 0;
        overflow-x: scroll;
      }

      img {
        height: 50vh;
      }

    }
  }

  h3 {
    text-align: center;
    color: #1D4638;
    margin: 2em 0 1.5em;
    font: normal normal normal 42px/40px KonTikiJF Aloha;
  }
}

.lineup {
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    text-align: center;
    color: #1D4638;
    margin: 2em 0 1.5em;
    font: normal normal normal 42px/40px Sofia Pro;
  }

  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;

    p {
      font: normal normal normal 25px/59px Sofia Pro;
      opacity: 0.8;
      color: #1D4638;
      margin: 0 1rem;
      width: 95%;
    }

    .row {
      max-width: 100%;
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
      margin: 0.20rem 0;
      padding-bottom: 0.5rem;
      -ms-overflow-style: -ms-autohiding-scrollbar;

      scroll-snap-type: x mandatory;


      &::-webkit-scrollbar {
        height: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
        background: #3CB189;
        border-radius: 0.5rem;
      }

      &:hover {
        padding-bottom: 0;
        overflow-x: scroll;
      }

      img {
        border-radius: 0.4em;
        margin-right: 2em;
        max-width: 250px;
        aspect-ratio: 1;
        scroll-snap-align: center;
      }
    }
  }

  button {
    font: normal normal normal 20px/59px Sofia Pro;
    color: grey;
    background-color: transparent;
    width: 29em;
    text-align: center;
    border: 2px solid grey;
    height: 3em;
  }
}

@media screen and (max-width: 415px) {
  .hero {
    .content-row {
      img {
        margin-top: 2em;
        width: 70%;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  .lineup {
    .column{
      .row{
        overflow: auto;

        img {
          padding: 0;
          margin: 0;
          max-width: 100vw;
        }
      }
    }
  }

  .history {
    h3 {
      font: normal normal normal 30px/35px KonTikiJF Aloha;
    }

    .container {
      .scroll-grid {
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          width: 0;
        }
      }

    }
  }
}
