@import "utils/responsive";

.gallery {
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    color: #1D4638;
    margin: 2em 0 1.5em;
  }

  .column {
    max-width: max(60vw, 1000px);
    margin: 0 1em;

    .row {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      margin: 0.15rem 0;

      -ms-overflow-style: -ms-autohiding-scrollbar;
      scrollbar-width: 1px;

      &::-webkit-scrollbar {
        width: 1px;
      }
    }

    img {
      border-radius: 0.4em;
      margin-right: 0.3em;
    }
  }

}

@media screen and (max-width: 415px) {
  .gallery {
    display: unset;
    overflow-x: clip;

    .grass-img {
      object-fit: fill;
      position: relative;
      left: -21px;
      width: 113%;
      bottom: -37px;
    }

    .column {
      margin: 0;

      .row{
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      img {
        height: 110px;
        border-radius: 0.4em;
        margin-right: 0.3em;
      }
    }

  }
}
