.gallery{
h5 {
  text-align: center;
  color: #1D4638;
  margin-top: 3em;
  padding-bottom: 2em;
}
  .grass-img {
    object-fit: fill;
    position: relative;
    left: -21px;
    width: 113%;
    bottom: -37px;
    margin-top: -37px;
  }

  .column{
    .row {
      display: grid;
      padding: 0px;
      grid-auto-flow: column;
      overflow-x: auto;
      overflow-y: clip;
      height: 5.2em;
        }
    img {
     height: 45%;
     border-radius: 0.4em;
     margin-right: 0.3em;
        }
        }

}