.gallery {
  overflow-x: clip;

  h2 {
    text-align: center;
    color: #1D4638;
    margin: 2em 0 1.5em;
  }

  .grass-img {
    object-fit: fill;
    position: relative;
    left: -21px;
    width: 113%;
    bottom: -37px;
  }

  .column {
    .row {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      margin: 0.15rem 0;

      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar{
        display: none;
      }
    }

    img {
      border-radius: 0.4em;
      margin-right: 0.3em;
    }
  }

}
