@import "utils/fonts";

@import "index/sections/hero";
@import "index/sections/vision";
@import "index/sections/festival";
@import "index/sections/join";
@import "index/sections/community";
@import "index/sections/footer";
@import "index/sections/event";
@import "index/sections/sponsors";

@import "utils/responsive";

.image-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  height: 110vh;
  position: relative;
  scroll-margin-top: -2rem;
  overflow-x: clip;
}

h2 {
  color: #1D4638;
}
.gallery_ind {
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-bottom: 5vh;

  h2 {
    text-align: center;
    color: #1D4638;
    margin: 2em 0 1.5em;
  }

  .column {
    max-width: max(60vw, 1000px);
    margin: 0 1em;
    overflow-y: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: 1px;
    &::-webkit-scrollbar {
      width: 1px;
    }

    .row {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      margin: 0.15rem 0;

      -ms-overflow-style: -ms-autohiding-scrollbar;
      scrollbar-width: 1px;

      &::-webkit-scrollbar {
        width: 1px;
      }
    }


    img {
      border-radius: 0.4em;
      margin-right: 0.3em;
    }
  }

}

@media screen and (max-width: 415px) {
  .gallery_ind {
    overflow-x: hidden;
    padding-bottom: 2em;

    .grass-img {
      display: none;
    }

    .column {
      margin: 0;
      max-width: calc(100% - 2em);

      .row{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scrollbar-width: 10px;

        &::-webkit-scrollbar {
          width: 1px;
        }
      }

      img {
        height: 110px;
        border-radius: 0.4em;
        margin-right: 0.3em;
      }
    }

  }
}
