@import "index/sections/hero";

.image-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero{
  height: 100vh;

  .content-row{
    margin: 13vh 0;

    h1{
      text-align: center;
      font-family: "Sofia Pro", serif;
      font-weight: bolder;
      text-transform: capitalize;
    }
  }
}

.thank-you{
  h2{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #FFFFFF;
    text-align: center;
  }
  .background{
    width: 100%;
  }
}
